<div class="home">
    <div>
        <h2>Paginá Inicial</h2>
        <p>Selecione um dos programas no menu para utilizar</p>
    </div>
    
    <div class="home_calc">
        <h2>Banco</h2>
        <form action="" [formGroup]="calcForm">
            <input type="text" placeholder="Depositar na conta" formControlName="calcInput">
            <button (click)="deposito()">Depositar</button>

            <input type="text" placeholder="Despesas" formControlName="despesaInput">
            <button (click)="adicionarDespesa()">Depositar</button>
        </form>
    </div>

    <div class="home_res">
        <span>Saldo: {{ saldoInicial }}</span>
        <p>Despesas: {{ despesa }}</p>
    </div>
</div>