
<div class="tasks">
    <div class="tasks_box" *ngFor="let task of tasks">
        <p class="tasks_box_title" >
            <b>Título:</b>
            {{ task }}
        </p>

        <p class="tasks_box_description">
            <b>Descrição:</b>
            {{ task }}
        </p>

        <div class="tasks_box_actions">
            <button (click)="handleUpdateTasks(task.id, task)">Edit</button>
            <button (click)="handleDeletTasks(task.id)">Delete</button>
        </div>
    </div>

    <div class="tasks_newTask" (click)="handleOpenDialog()">
        Add
    </div>

</div>

