<div class="new_task_dialog">
    <h2 class="new_task_dialog_txt">Nova tarefa</h2>

    <form class="new_task_dialog_form" [formGroup]="tasksForm">
        <input type="text" placeholder="Titulo da tarefa" formControlName="titleInput" >
        <input type="text" placeholder="Descrição da tarefa" formControlName="descriptionInput">

        <div class="new_task_dialog_form_actions">
            <button (click)="handleSubmitForm()">{{ currentTask ? 'Atualizar' : 'Adicionar'}}</button>
        </div>
    </form>
</div>