/* You can add global styles to this file, and also import other style files */

:root {
    font-size: 10px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    background-color: #424242;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//Mat Angular modificações

mat-dialog-container {
    background: rgb(71, 71, 71) !important;
    border: .1px solid greenyellow;
}
