/* You can add global styles to this file, and also import other style files */

:root {
    font-size: 10px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    background-color: #424242;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//Config

button {
    background: transparent;
    border: .1rem solid greenyellow;
    border-radius: .4rem;
    padding: .5rem .8rem;
    cursor: pointer;
}

input {
    border: none;
    border-radius: .8rem;
    width: 20rem;
    height: 3rem;
    padding: 1rem;
    background-color: rgb(224, 224, 224);
    color: rgb(32, 32, 32);
}

//Mat Angular modificações

mat-dialog-container {
    background: rgb(71, 71, 71) !important;
    border: .1px solid greenyellow;
}
